:root {
  --bg-primary: #222;
  --text-primary: #9b9b9b;
  --text-secondary: #11998e;

  --c-gray-800: #1f1f1f;
  --c-gray-600: #313131;
  --c-gray-500: #969593;
  --c-gray-300: #bdbbb7;
  --c-gray-200: #f1f1f1;
  --c-gray-100: #fff;
  --c-green-500: #45ffbc;
  --c-olive-500: #e3ffa8;
  --c-white: var(--c-gray-100);
  --c-text-primary: var(--c-gray-100);
  --c-text-secondary: var(--c-gray-200);
  --c-text-tertiary: var(--c-gray-500);
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px var(--text-secondary);
	background-color: #222;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: var(--text-secondary);
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px var(--text-secondary);
	background-color: var(--text-secondary);
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
